   h1 {
    font-size: 36px;
    color: black;
    text-align: center;
    }

   h2 {
    font-size: 26px;
    color: blue;
    text-align: center;
   
    }
    
    body {
     font-size: 26px;
    text-align: left;
     
    }